.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  /* parameters for the header section */
}

.content {
  margin-top: 100px;
  flex: center;
}

.digits {
  margin-top: 100px;
  margin-bottom: 100px;
}

.fenyman {
  height: 790px;
  position: relative;
  background-color: #f2f2f2;
  z-index: -2;
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__main-illustration {
  height: 608px;
  width: 765px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 3;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

/* including elements with key-value modifiers */
.table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  width: 1100px;
  margin: auto;
}

.table_theme_dark {
  margin: 0 auto 90px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  width: 80%;
}

.table__cell_theme_dark {
  width: 200px;
  color: #fff;
  margin-right: 0;
  margin-top: 80px;
  flex-wrap: wrap;
}

.table__cell {
  min-height: 60px;
  width: 250px;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.table__heading {
  font-style: bold;
  font-size: 24px;
  line-height: 1.15;
  font-weight: bold;
}

.table__heading_theme_dark {
  font-style: bold;
  font-size: 24px;
  line-height: 1.15;
  font-weight: bold;
  color: #fff;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;
  margin-top: 20px;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;
  margin-top: 20px;
}

.digits__title {
  margin: auto;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  justify-content: center;
  display: flex;
}

.digits__subtitle {
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 60px;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-style: normal; /* using this instead of typeface?? */
  text-align: center;
}

.header__title {
  width: 730px;
  display: flex;
  align-self: center;
  margin: 0 0 0 64px;
  line-height: 96px;
  font-size: 102px;
  font-style: bold;
  z-index: 2;
}

.header__link {
  font-size: 18px;
  color: #2f80ed;
  text-decoration: none;
}

.footer__link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.header__subtitle {
  text-align: wrap;
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  margin: 0px;
  z-index: 4;
}

.header__square-pic {
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0px;
  z-index: 1;
}

.description {
  display: flex;
  justify-content: space-between;
  min-height: 30px;
}

.heading {
  font-size: 18px;
  color: #2f80ed;
  font-style: normal;
  line-height: 1.2;
}

.two-columns {
  display: flex;
}

.two-columns__brief {
  font-style: normal;
  width: 175px;
  margin: 0;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
  justify-content: flex-end;
}

.two-columns__paragraph {
  font-family: arial;
  line-height: 34px;
  font-size: 24px;
  font-style: normal;
  text-align: wrap;
  align-items: flex-start;
  margin: 0;
}

.list {
  list-style: none;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fenyman__title {
  width: 775px;
  justify-content: center;
  text-align: center;
  margin: auto;
  top: 100px;
  bottom: 70px;
  line-height: 1.15;
  font-size: 120px;
  font-style: bold;
  z-index: 5;
}

.fenyman__subtitle {
  justify-content: center;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-style: normal;
  z-index: 5;
}

.fenyman__image {
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: -1;
}

.fenyman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-style: normal;
  color: #2f80ed;
}

.kaufman {
  position: relative;
  margin-top: 100px;
  background-color: #000;
  overflow: hidden;
  z-index: -4;
  color: #fff;
  height: 967px;
}

.kaufman__title_theme_dark {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-style: bold;
  margin: auto;
  margin-top: 90px;
  justify-content: center;
  display: flex;
  text-align: center;
}

.kaufman__subtitle_theme_dark {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-style: normal;
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.kaufman__triangle {
  position: absolute;
  top: 0px;
  right: -210px;
  z-index: -3;
  height: 877px;
  width: 877px;
}
.footer {
  flex-basis: 711px;
  background-color: #000;
  color: #fff;
  position: absolute;
  top: 3700px;
  width: 100%;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 40px;
}

.footer__column_content-copyright {
  width: 450px;
}

.footer__author {
  height: 10px;
  width: 200px;
  margin-bottom: 18px;
  margin-top: 18px;
  position: absolute;
  bottom: 18px;
  left: 18px;
}

.footer__column-heading {
  line-height: 45px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column_content-social {
  line-height: 30px;
  font-size: 18px;
  font-style: normal;
}

.footer__column-links {
  margin-top: 20px;
}

.two-columns__span-accent {
  font-weight: bold;
}

.footer__social_icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.flex-row {
  display: flex;
  justify-content: center;
}

h1 {
  margin: 0;
}
h4 {
  margin: 0;
  color: #fff;
  font-style: none;
  font-weight: normal;
  text-decoration: none;
}
